<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All duty</title>
</head>
<body>
<h1>All duty in current day</h1>

   <select name="hero[]">
        {% for date in dates %}
        <option value="{{date.day}}">{{date.day}}</option>
        {% endfor %}

   </select>
   <button><a href="#">Выбрать день</a></button>

<table>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.group_id }}</td>
        <td>{{ user.user_id }}</td>
        <td>{{ user.user_full_name }}</td>
        <td>{{ user.user_name }}</td>
        <td>{{ user.user_phone }}</td>
        <td>{{ user.user_email }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    let select = document.querySelector("select");
    let btn = document.querySelector("button");
     let a = document.querySelector("a");
    select.addEventListener("click", function(){

    let selectedValue = select.options[select.selectedIndex].text;

     a.href = "/all_duty/" + selectedValue;
     return false;
    });


</script>
</body>
</html>
